body {
    font-family: 'Roboto', sans-serif;
    background-color: #206f8a;
    padding-top: 76px
}


/* Navbar */

.navbar {
    background-color: #292C2E;
}

.nav-link {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    ;
}

.foto {
    background-image: url(../img/portadaHB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-attachment: fixed;*/
    padding: 25%;
}


/* Acerca de mí section */

#acercademi {
    padding-top: 126px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 126px;
}

.p1 {
    color: #000000;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: manual;
}

.btnmodal {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

i {
    color: #879cb0;
}

.card {
    background-color: #292C2E;
}

.btncar {
    margin-left: 6vw;
    margin-right: 6vw;
}

.cargos {
    font-size: 25px;
}

footer {
    background-color: #292C2E;
}

.cars {
    padding-top: 76px;
    padding-bottom: 76px;
}

.caruosel {
    margin-bottom: 8%;
    margin-top: 6%;
}

.experiencia {
    padding-bottom: 120px;
    padding-top: 120px;
}

@media (max-width: 812px) {
    .foto {
        padding: 50%;
    }
    .fa-6x {
        font-size: 4em;
    }
    .cargos {
        font-size: 22px;
    }
}